# SPDX-License-Identifier: GPL-2.0

menu "Moto kernel module Configuration"

source "motorola/kernel/modules/drivers/input/touchscreen/goodix_thp/Kconfig"

source "motorola/kernel/modules/drivers/input/touchscreen/synaptics_tcm2_mmi_v2/Kconfig"

source "motorola/kernel/modules/drivers/input/touchscreen/goodix_berlin_mmi/Kconfig"

source "motorola/kernel/modules/drivers/misc/sarsensor/awinic/aw963xx/Kconfig"

source "motorola/kernel/modules/drivers/misc/sarsensor/semtech/sx937x/Kconfig"

source "motorola/kernel/modules/drivers/moto_swap/Kconfig"

source "motorola/kernel/modules/drivers/power/mmi_glink_charger/Kconfig"

endmenu
