# SPDX-License-Identifier: GPL-2.0

config MOTO_FUTEX_INHERIT
	tristate "futex inherit"
	default n
	help
	  boost futex owner for the blocked ux thread.

config MOTO_RWSEM_INHERIT
	tristate "rwsem inherit"
	default n
	help
	  boost rwsem owner for the blocked ux thread.