#
# Goodix touchscreen driver configuration
#
menuconfig TOUCHSCREEN_GOODIX_BRL_THP
        tristate "Goodix berlin touchscreen"
        default n
        help
          Say Y here if you have a Goodix berlin touch controller
          to your system.

config THP_FOLD
    bool "Enable thp fold gesture"
    help
      Say Y here if support thp fold gesture
