# SPDX-License-Identifier: GPL-2.0-only
#
# Synaptics TCM touchscreen driver configuration
#
menuconfig TOUCHSCREEN_SYNA_TCM2
	tristate "Synaptics TCM touchscreen"
	default y
	help
	  Say Y here if you have a Synaptics TCM touchscreen connected.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.

if TOUCHSCREEN_SYNA_TCM2

choice
	default TOUCHSCREEN_SYNA_TCM2_I2C
	prompt "Synaptics TCM bus interface"
config TOUCHSCREEN_SYNA_TCM2_I2C
	bool "I2C"
	depends on I2C
config TOUCHSCREEN_SYNA_TCM2_SPI
	bool "SPI"
	depends on SPI_MASTER
endchoice

config TOUCHSCREEN_SYNA_TCM2_TOUCHCOMM_VERSION_1
	bool "Synaptics TouchComm version 1 interface"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for TouchComm version 1 interface

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_TOUCHCOMM_VERSION_2
	bool "Synaptics TouchComm version 2 interface"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for TouchComm version 2 interface

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_SYSFS
	bool "Synaptics TCM device attributes"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for the sysfs interface.

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_REFLASH
	bool "Synaptics TCM reflash module"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for the reflashing.

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_TESTING
	bool "Synaptics TCM testing module"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for the production test.

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_TDDI
	bool "Synaptics TCM TDDI products"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable support for the TDDI products.

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_TOUCHCOMM_VERSION_2_LEGACY
	bool "Synaptics legacy TouchComm version 2 firmware"
	depends on TOUCHSCREEN_SYNA_TCM2_TOUCHCOMM_VERSION_2
	help
	  Say Y here to enable support for TouchComm version 2 firmware

	  If unsure, say N.

config TOUCHSCREEN_SYNA_TCM2_DEBUG_MSG
	bool "Enable the debug logs"
	depends on TOUCHSCREEN_SYNA_TCM2
	help
	  Say Y here to enable the logs for debugging.

	  If unsure, say N.

endif
